services:
  db:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    env_file:
      - .env
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    env_file:
      - .env
      - ./frontend/.env
